transformers
Pillow
timm
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu121
selenium
webdriver-manager
reportlab
flask
pandas
google-generativeai
bs4
supabase
google-genai
