matplotlib
transformers
Pillow
timm
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu121
selenium
webdriver-manager
reportlab
flask
pandas
bs4
google-genai
Authlib
requests
dotenv
gunicorn