transformers
Pillow
timm
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu121
selenium
webdriver-manager
reportlab
flask
flask-cors
pandas
bs4
supabase
google-genai
gunicorn
Flask-Session
Flask-SQLAlchemy
psycopg2-binary
